---
import Logo from '../components/Logo.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Portfolio">
  <main class="flex h-screen items-center justify-center gap-5 bg-stone-900">
    <Logo />
    <div class="flex flex-col justify-center gap-2">
      <h1 class="text-3xl font-bold">Filipe Veronezi</h1>
      <h2 class="text-lg font-bold">Front-end Developer <span class="font-cursive">@Pilgrim</span></h2>
    </div>
  </main>
</Layout>
