---
import Heading from '../components/Heading.astro'
import Introduction from '../components/Introduction.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
  <main class="mx-auto flex h-full max-w-screen-sm flex-col gap-5 px-6 lg:px-0">
    <Heading />
    <Introduction />
  </main>
</Layout>
