---
import Heading from '../components/Heading.astro'
import Introduction from '../components/Introduction.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Portfolio">
  <main class="h-screen bg-gradient-to-br from-stone-900 to-neutral-900 pt-56">
    <div class="mx-auto flex h-full max-w-screen-sm flex-col gap-5 px-6 lg:px-0">
      <Heading />
      <Introduction />
    </div>
  </main>
</Layout>
