---
import { getMyAge } from '../utils/getMyAge'

const age = getMyAge()
---

<p class="flex flex-col text-lg font-light leading-8">
  <span>Hey, welcome to my place in the web.</span>
  <span>I'm a {age} y/o developer from 🇧🇷 Brazil.</span>
  <span> I love to build beautiful and delightful user experiences, like this one.</span>
</p>
