---
import { getMyAge } from '../utils/getMyAge'

const age = getMyAge()
---

<p class="text-lg font-light leading-7">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum maxime quod provident hic repellendus accusantium
  iusto voluptas sunt, saepe quisquam aperiam maiores perspiciatis obcaecati similique in doloribus vel exercitationem
  nesciunt? Teste
  <span>{age}</span>
</p>
