---
export interface Props {
  to: string
}

const { to } = Astro.props
const pathname = Astro.url.pathname
---

<a
  href={to}
  class={`rounded-lg w-max px-3 py-1 transition-all bg-opacity-0 bg-zinc-700 hover:bg-opacity-20 ${
    pathname === to
      ? 'bg-opacity-100 hover:bg-opacity-80 text-violet-100/90'
      : 'text-violet-100/50 hover:text-violet-100/90'
  }`}>
  <slot />
</a>
